<%# services.ejs Wai Tung Wong 301222578 2022-10-14 %>
<%# include header %> 
<%- include partials/header.ejs %> 

<body class="mainbody">
    <%# included the navigation bar %>
    <%- include partials/navbar.ejs %> 
    <br>
    <h3 class="left">Here are the services that I provide:</h3><br>
    <ul>
        <li><h4>Web development</h4></li>
        <img src="./Assets/images/webDevelop.png" width="492px" height="299px"><br><br><hr><br>
        <li><h4>General programming</h4></li>
        <img src="./Assets/images/generalProgramming.png" width="492px" height="299px"><br><br><hr><br>
        <li><h4>Design different documents: ERD, Domain Class diagram, SRS, and others.</h4></li>
        <img src="./Assets/images/doc.png" width="492px" height="299px">
    </ul>
</body>
<%# include the Scripts & footer %>
<%- include partials/footer.ejs %> 
</html>