<%# aboutme.ejs Wai Tung Wong 301222578 2022-10-14 %>
<%# include header %>
<%- include ('partials/header.ejs') %> 

<body class="mainbody">
  <%# included the navigation bar %>
  <%- include ('partials/navbar.ejs') %> 

  <img class="myPhoto" src="./Assets/images/myPhoto.jpg" alt="My photo" height="525px" width="385px">
  <br><br>
  <h4>I am Wai Tung Wong, a second year Software Engineering Technician diploma student at Centennial College.</h4>
  <h4>I will graduate at Apirl 2023, and opening for jobs.</h4>
  <h4>I start my programming journey since 2021. I am a fast learner and have passion in software engineering.</h4>
  <br>
  <h4>To view my resume please click here: <a href="./Assets/images/Resume.pdf">Resume</a></h4>
</body>
<%# include the Scripts & footer %>
<%- include ('partials/footer.ejs') %> 
</html>