<%# services.ejs Wai Tung Wong 301222578 2022-10-14 %>
<%# include header %> 
<%- include ('partials/header.ejs') %> 

<body class="mainbody">
    <%# included the navigation bar %>
    <%- include ('partials/navbar.ejs') %> 
    <br>
    <h3 class="left">Here are some of my projects:</h3>
    <br>
    <h3 class="left">Project 1:</h3>
    <img src="./Assets/images/pj1.png" alt="Project 1" width="592px" height="399px"><br><br>
    <h4>This is a individual project is using Ajax and JQuery to create a image gallery.</h4>
    <hr>
    <h3 class="left">Project 2:</h3>
    <img src="./Assets/images/pj2.png" alt="Project 2" width="592px" height="399px"><br><br>
    <h4>This is a individual project of a table generator, it could generate a table bases on the user's input of number of row and column.</h4>
    <hr>
    <h3 class="left">Project 3:</h3>
    <img src="./Assets/images/pj3.png" alt="Project 3" width="592px" height="399px"><br><br>
    <h4>This is a individual project that creating a web form that could verify all the user's inputs are qualified or not.</h4>
</body>
<%# include the Scripts & footer %>
<%- include ('partials/footer.ejs') %> 
</html>